.container {
  flex: 1 0 90px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 5px solid white;
  background-color: #00000044;
}
.text {
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 480px) {
  .container {
    flex: 1 0 100px;
  }
}