.container {
  width: 80%;
  margin: 30px auto;
}

.line {
  border-top: 2px solid black;
  width: 50%;
  margin: 0 auto;
}

.text {
  color: white;
  font-size: 1.1em;
  margin: 5px auto;
  text-align: center;
}