.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.containerCategorys {
  width: 60%;
  display: flex;
  gap: 10px;
}
.containerListPokemon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

@media (max-width: 480px) {
  .container {
    overflow-y: auto;
  }
  .containerCategorys {
    width: 100%;
  }
}